#!/bin/bash
set -e

cd $(dirname "$(realpath "$0")")
source .env

# Set up a trap to call the error_exit function on ERR signal
trap 'error_exit "### ERROR ###"' ERR

echo "### Command received ###"
file="/tmp/{{ name }}.pid"
if [[ $1 == "reload" ]]; then
    echo "Reloading {{ title }}"
    {% if custom_reload %}
    {{ custom_reload }}
    {% else %}
    kill_pid $file
    bash main.sh
    {% endif %}
elif [[ $1 == "start" ]]; then
    echo "Starting {{ title }}"
    {% if custom_start %}
    {{ custom_start }}
    {% else %}
    bash main.sh
    {% endif %}
elif [[ $1 == "stop" ]]; then
    echo "Stopping {{ title }}"
    {% if custom_stop %}
    {{ custom_stop }}
    {% else %}    
    kill_pid $file
    {% endif %}
{% if additional_condition %}
{{ additional_condition }}
{% endif %}
else
  echo "Invalid argument"
fi

echo "### Done ###"