map $http_referer $first_subpath {
    ~*^https?://[^/]+/([^/]+) $1;
    default "";
}

server {
    listen 8888;

    # Common proxy settings
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    # jupyter lab
    location / {
    {% for item in data %}
        if ($first_subpath ~* {{ item['name']|replace('_', '-') }}) {
            rewrite ^/{{ item['name']|replace('_', '-') }}/(.*)$ /$1 break;
            proxy_pass http://localhost:{{ item['port'] }};
        }
    {% endfor %}

        proxy_pass http://localhost:8890;
    }

    location ~* /(api/kernels/[^/]+/(channels|iopub|shell|stdin)|terminals/websocket)/? {
        proxy_pass http://localhost:8890;
        proxy_read_timeout    86400;
    }

{% for item in data %}
    # {{ item['name'] }}
    location ~* ^/{{ item['name']|replace('_', '-') }}/(.*)$ {
        {% if item['nginx_override'] %}
        {{ item['nginx_override']|indent(8) }}
        {% else %}
        rewrite ^/{{ item['name']|replace('_', '-') }}/(.*) /$1 break;
        proxy_pass http://localhost:{{ item['port'] }};
        {% endif %}
    }
    {% if item['nginx_extra'] %}
    {{ nginx_extra }}
    {% endif %}
{% endfor %}

    # sd image browser
    location /infinite_image_browsing {
        proxy_pass http://localhost:7002/infinite_image_browsing;
    }

}